@import '~@angular/material/theming';

// Includes non-theme styles for core.
@include mat-core();

// Defines a theme.
$primary: mat-palette($mat-blue, 700, 500, 800);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

// Includes all theme styles for the components.
@include angular-material-theme($theme);
