@import '~@angular/material/core/theming/all-theme';

// Includes non-theme styles for core.
@include md-core();

// Defines a theme.
$primary: md-palette($md-blue, 700, 500, 800);
$accent:  md-palette($md-amber, A200, A100, A400);
$warn:    md-palette($md-red);

$theme: md-light-theme($primary, $accent, $warn);

// Includes all theme styles for the components.
@include angular-material-theme($theme);
