<div class="account-card-container">

    <md-card>
        <md-toolbar color="primary">Sign up</md-toolbar>
        <md-card-content>
            <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && signup()" novalidate>
                <div>
                    <br />
                    <br />
                    <md-input-container class="full-width">
                        <input type="text" mdInput [(ngModel)]="model.givenName" name="givenName" #givenName="ngModel" placeholder="first name" (keyup)="clearMessages()" required>
                        <md-error>
                            Required
                        </md-error>
                    </md-input-container>
                    <br />
                    <br />
                    <md-input-container class="full-width">
                        <input type="text" mdInput [(ngModel)]="model.familyName" name="familyName" #familyName="ngModel" placeholder="last name" (keyup)="clearMessages()" required>
                        <md-error>
                            Required
                        </md-error>
                    </md-input-container>
                    <br />
                    <br />
                    <md-input-container class="full-width">
                        <input type="text" mdInput [(ngModel)]="model.username" name="username" #username="ngModel" placeholder="email" (keyup)="clearMessages()"
                               pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required>
                        <md-error *ngIf="username.errors?.required">
                            Required
                        </md-error>
                        <md-error *ngIf="username.errors?.pattern">
                            Invalid format
                        </md-error>
                    </md-input-container>
                    <br />
                    <br />
                    <md-input-container class="full-width">
                        <input type="password" mdInput [(ngModel)]="model.password" name="password" #password="ngModel" placeholder="password" (keyup)="clearMessages()" required>
                        <md-error>
                            Required
                        </md-error>
                    </md-input-container>
                    <br />
                    <div *ngIf="errorMessages.length > 0" class="has-error">
                        <div *ngFor="let errorMessage of errorMessages">
                            <small>{{ errorMessage.description }}</small>
                        </div>
                    </div>
                    <br />
                </div>
                <div>
                    <button md-raised-button color="accent" type="submit" class="full-width">Sign up</button>
                </div>
            </form>
        </md-card-content>
    </md-card>

</div>