<div class="account-card-container">

    <mat-card>
        <mat-toolbar color="primary">Sign in</mat-toolbar>
        <mat-card-content>
            <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && signin()" novalidate>
                <div>
                    <br />
                    <br />
                    <mat-form-field class="full-width">
                        <input type="text" matInput [(ngModel)]="model.username" name="username" #username="ngModel" placeholder="email" (keyup)="clearMessages()" required>
                        <mat-error>
                            Required
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <br />
                    <mat-form-field class="full-width">
                        <input type="password" matInput [(ngModel)]="model.password" name="password" #password="ngModel" placeholder="password" (keyup)="clearMessages()" required>
                        <mat-error>
                            Required
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <div *ngIf="errorMessages.length > 0" class="has-error">
                        <div *ngFor="let errorMessage of errorMessages">
                            <small>{{ errorMessage.description }}</small>
                        </div>
                    </div>
                    <br />
                </div>
                <div>
                    <button mat-raised-button color="accent" type="submit" class="full-width">Sign in</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>