<div class="app-card-container">

    <md-card>
        <img md-card-image src="/images/ASP.NET-New-Project-dialog.png">
        <md-card-title style="text-align:center;color:#1976D2">Angular SPA Web API</md-card-title>
        <md-card-subtitle style="text-align:center">Angular Single Page Application with an ASP.NET Core Web API that uses token authentication.</md-card-subtitle>
        <md-card-content style="text-align:center">
            <p>The OAuth 2.0 <em>Resource Owner Password Credentials grant</em> (ROPC) is implemented using IdentityServer4 and ASP.NET Core Identity as membership system with a SQLite database.</p>
        </md-card-content>
        <md-card-actions align="end">
            <a md-raised-button href="https://github.com/robisim74/AngularSPAWebAPI">Github</a>
        </md-card-actions>
    </md-card>

</div>