<h1>Dashboard</h1>

<div class="dashboard-container">

    <md-table #table [dataSource]="dataSource" class="mat-elevation-z2">
        <ng-container cdkColumnDef="email">
            <md-header-cell *cdkHeaderCellDef> Email </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{ row.email }} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="givenName">
            <md-header-cell *cdkHeaderCellDef> Given name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{ row.givenName }} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="familyName">
            <md-header-cell *cdkHeaderCellDef> Family name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{ row.familyName }} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <md-header-cell *cdkHeaderCellDef> </md-header-cell>
            <md-cell *cdkCellDef="let row"> <button md-icon-button color="warn" (click)="delete(row.userName)"><md-icon>delete</md-icon></button> </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>

</div>