<div class="app-card-container">

    <md-card>
        <img md-card-image src="/images/ASP.NET-New-Project-dialog.png">
        <md-card-title style="text-align:center;color:#1976D2">Angular 2 SPA Web API</md-card-title>
        <md-card-subtitle style="text-align:center">Angular 2 Single Page Application with an ASP.NET Core Web API that uses token authentication.</md-card-subtitle>
        <md-card-content style="text-align:center">
            <p>The <em>Resource Owner Password Credentials grant</em> (ROPC) OAuth2 flow is implemented using IdentityServer4, Identity as membership system and claims based authorization with a SQLite database.</p>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button color="primary" href="https://github.com/robisim74/Angular2SPAWebAPI">Github</button>
        </md-card-actions>
    </md-card>

</div>