<div class="account-card-container">

    <md-card>
        <md-toolbar color="primary">Sign up</md-toolbar>
        <md-card-content>
            <form name="form" (ngSubmit)="f.form.valid && signup()" #f="ngForm" novalidate>
                <div>
                    <br />
                    <br />
                    <md-input placeholder="first name" type="text" (keyup)="errorMessages = []; errorMessage = ''"
                              name="givenName" [(ngModel)]="model.givenName" #givenName="ngModel" class="full-width" required></md-input>
                    <small [hidden]="givenName.valid || (givenName.pristine && !f.submitted)" class="has-error">
                        Required
                    </small>
                    <br />
                    <br />
                    <md-input placeholder="last name" type="text" (keyup)="errorMessages = []; errorMessage = ''"
                              name="familyName" [(ngModel)]="model.familyName" #familyName="ngModel" class="full-width" required></md-input>
                    <small [hidden]="familyName.valid || (familyName.pristine && !f.submitted)" class="has-error">
                        Required
                    </small>
                    <br />
                    <br />
                    <md-input placeholder="email" type="text" (keyup)="errorMessages = []; errorMessage = ''"
                              name="username" [(ngModel)]="model.username" #username="ngModel" class="full-width"
                              pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required></md-input>
                    <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="has-error">
                        Invalid format
                    </small>
                    <br />
                    <br />
                    <md-input placeholder="password" type="password" (keyup)="errorMessages = []; errorMessage = ''"
                              name="password" [(ngModel)]="model.password" #password="ngModel" class="full-width" required></md-input>
                    <small [hidden]="password.valid || (password && !f.submitted)" class="has-error">
                        Required
                    </small>
                    <br />
                    <div *ngIf="errorMessage != ''" class="has-error">
                        <small>{{ errorMessage }}</small>
                    </div>
                    <div *ngIf="errorMessages.length > 0" class="has-error">
                        <div *ngFor="let errorMsg of errorMessages">
                            <small>{{ errorMsg.description }}</small>
                        </div>
                    </div>
                    <br />
                </div>
                <div>
                    <button md-raised-button color="accent" type="submit" class="full-width">Sign up</button>
                </div>
            </form>
        </md-card-content>
    </md-card>

</div>